@font-face {
  font-family: "mc";
  src: url(../fonts/MinecraftAE.ttf) format(truetype);
  /* src: url(../fonts/unifont.otf) format(opentype);  */
  font-weight: normal;           /* 定义字体粗细 */
  font-style: normal; 
    
  }
/* :root {
  --md-text-font: "mc"; 
  } */
  [data-md-color-scheme="nthing"] {
    --md-footer-bg-color: rgb(128,128,128); 
    --md-footer-fg-color: #cbcecb;  

  }

